.edit-todo {
    display: flex;
    justify-content: center;
}

.input {
    padding: .5em;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn {
    padding: .5em;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-left: 0.5em;
}