.form {
    text-align: center;
    background-color: #ffffff;
    padding-bottom: 4em;
    padding: 1em 0;
    border-bottom: .1px solid #d1caca;
    width: 70%;
    margin: 0 auto;
}

.title-form {
    margin: 0;
    padding-top: 1.5em;
    font-size: 2.5rem;
    font-family: sans-serif;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.tagline-form {
    color: #6c757d !important;
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
}

.input-form {
    padding: .35em 1.4em;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.button-form {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.4;
    border-radius: .25rem;
    color: #fff;
    background-color: #007bff;
    margin-left: 1rem;
}