.header {
    background-color: #f34c5e;
    padding: 1em 0;
}

.header-title {
    color: white;
    margin: 0;
    font-size: 3.2em;
    padding: .8em;
    display: flex;
    margin-left: 10%;
    font-weight: 400;
}