.container {
    text-align: center;
}

.no-todo {
    text-align: center;
}

.nav-btn {
    text-align: center;
    margin-top: 1em;
}

.btn-undone {
    background-color: white;
    border-top: 1px solid #dee2e6;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    outline: 0;
    color: #495057;
}

.btn-nav {
    padding: .5em 1em;
    font-size: 1.1em;
    font-weight: 700;
    font-family: cursive;
}

.btn-done {
    background-color: white;
    border-bottom: 1px solid #dee2e6;
    border-right: 0;
    border-top: 0;
    border-left: 1px solid #dee2e6;
    outline: 0;
    color: #495057;
    padding-right: 8em;
}

.count-done {
    color: white;
    background-color: #28a745;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    border-radius: .25rem;
}

.count-undone {
    color: white;
    background-color: #8aa728;
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    line-height: 1;
    border-radius: .25rem;
}

.list-container {
    width: 21.5em;
    margin: 0 auto;
}

.item-todo {
    display: flex;
    border: 1px solid #ced4da;
    padding: 1em;
    margin-top: 0.5em;
    border-radius: 4px;
    justify-content: space-between;
}

.btn-option {
    color: white;
    border: 0;
    padding: .5em 1em;
    margin: 0 5px;
    border-radius: 5px;
    outline: none;
}

.delete {
    background-color: #f34c5e;
}

.done {
    background-color: #b7c30d;
}

.edit {
    background-color: #007bff;
}